/**************************************************
 *
 * CSS for David Mancini's Personal Webpage
 *
 * @author David Mancini <hello@davidmancini.xyz>
 *
 **************************************************/

/* GLOBAL */
body,
html {
	background-color: dodgerblue;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Didact Gothic', sans-serif;
}

.center-image {
	margin: 0 auto;
}


/* HEADER */
.headerRow {
	background-color: #243958;
	color: white;
}

.headerTitle {
	font-family: 'Rock Salt', cursive;
	font-size: 1.8em;
	padding-top: 10px;
}

.btn-primary {
	background: #3b81df;
	color: #ffffff;
}

/* CONTENT CONTAINER */
.contentContainer {
	padding: 20px;
	background-color: white;
}

/* INTRO & BIO */
.introRow {
	background-color: lightsteelblue;
}

.headshot {
	padding: 10px 0;
}

/* SKILLS */
.skillsRow {

}

/* PROJECT */
.projectsRow {
	background-color: lightsteelblue;
}

.project {

}

/* PRICING */
.pricingRow {

}

.priceBoxHeading {
	color: white;
	font-size: 1.4em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 10px;
}

.priceBoxContent {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: aliceblue;
	text-align: left;
}

#priceBoxBasic,
#priceBoxButtonBasic {
	background-color: dodgerblue;
	border: 0;
}

#priceBoxPopular,
#priceBoxButtonPopular {
	background-color: coral;
	border: 0;
}

#priceBoxPremium,
#priceBoxButtonPremium {
	background-color: goldenrod;
	border: 0;
}

.fa-check {
	color: darkgreen;
}

.fa-times {
	color: red;
}

.fa-plus {
	color: #0047ab;
}

.pricingFeaturesRow {
	margin-bottom: 20px;
}

/* QUOTE */
.quoteRow {
	/*background-image: url("../images/bg-code.jpg");*/
	background-color: lightsteelblue;
	padding-bottom: 10px;
}

.quoteRow > body html h2 form {
	color: white;
}

/*.textBackgroundBlack {*/
	/*background-color: black;*/
	/*color: white;*/
/*}*/

div#twitter {
	margin-top:80px;
}

/* FOOTER */
.footerRow {
	background-color: #243958;
	color: white;
	margin-top: 40px;
	padding: 20px;
}

.transparent {
	color: dodgerblue;
}